# bushido-cli 
cli/src/config/environment
cli/.env

# compiled output
cli/dist
cli/export
cli/node_modules
cli/logs

# Development bookmark folder
playground

.DS_Store
.cli/DS_Store
.cli/src/DS_Store